@font-face {
    font-family: meter;
    src: url(./font.ttf);
}

:root {
    --accent: #11F9D8;
    --secondary: #3b3b44;
    --background: #0e0e0f;
}

#meter {
    display: flex;
    transform-origin: center;
    transform: rotate(-180deg) scale(-1, 1);
}

#meterjs {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 10px;
    left: 0px;
    height: 70px;
    width: 260px;
    background-color: var(--background);
    transform: scale(.6);
    transform-origin: top right;
    font-family: meter, Arial, Helvetica, sans-serif;
    border-radius: 6px;
}

#fps {
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
    align-items: center;
    color: var(--accent);
    /* font-size: 25px; */
    height: 100%;
    width: 50%;
    display: flex;
    letter-spacing: 2px;
    user-select: none;
}

#fps span {
    font-size: 16px;
    color: var(--secondary);
    margin-left: 15px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}