@font-face {
    font-family: meter;
    src: url(./font.ttf);
}

@font-face {
    font-family: "game";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: linear-gradient(rgb(99, 2, 66), #23034d);
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches', cursive;
}

#logger {
    color: white;
    position: absolute;
    bottom: 0;
}

.gui {
    position: absolute;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    flex-flow: row wrap;
    top: 6px;
    left: 0;
    display: none;
}

.gui div {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: meter;
    letter-spacing: 2px;
    font-size: 18px;
}

.health {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.health svg:nth-child(2) {
    margin: 0 4px;
}

.health svg {
    fill: rgba(255, 255, 255, 0.808);
    width: 13px;
}

#gui_left svg {
    width: 17px;
    fill: rgba(255, 255, 255, 0.808);
}

#author {
    font-family: "Poppins", sans-serif;
    width: 100%;
    bottom: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: inherit;
    text-transform: uppercase;
    padding-left: 35px;
    color: rgb(73, 47, 102);
    margin-top: 30px;
    position: absolute;
    bottom: -60px;
}

#author span {
    font-size: 10px;
    margin-left: 20px;
    color: inherit;
    letter-spacing: 4px;
}

#author h1 {
    font-size: 25px;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: column wrap;
}

.lobby {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* transition: all 1s cubic-bezier(0.16, 1, 0.3, 1); */
}

.lobby .button {
    color: #fff;
    font-size: 14px;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30%;
    position: relative;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 0;
}

.lobby .button:hover {
    cursor: pointer;
    color: #430247;
}

.lobby .button:hover::before {
    width: 100%;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.lobby .button::before {
    content: "";
    position: absolute;
    width: 1%;
    height: 100%;
    background: linear-gradient( 45deg, rgb(224, 14, 119), hsl(15, 100%, 50%));
    right: 0;
    z-index: -1;
    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.lobby #logo {
    width: 70%;
    padding: 0 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.triangle {
    fill: url(#gradient);
}

.main-stop {
    stop-color: rgb(224, 14, 119);
}

.alt-stop {
    stop-color: hsl(15, 100%, 50%);
}